.deps
.libs
*.la
*.lo
*.o
*.pyc
Makefile
Makefile.in

bin
obj
.*.swp
*~
/*.kdev4
/.cproject
/.project
/.settings
/nbproject

/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
.dirstamp

.idea/
build/
cmake-build-debug/
cmake-build-release/
CMakeSettings.json

.vscode/
CMakeFiles/
.DS_Store
